.wrapper {
    
}

.header {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
}

.hours {
    margin-left: 12px;
}

.dateText {
    min-width: 20px;
}

.locationWrapper {
    margin-top: 10px;
}

.location {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-left: 12px;
}

.milageSection {
    margin-top: 12px;
}

.company {
    border-bottom: none;
    color: #7d7979;
    justify-content: center;
    align-items: center;
    display: flex;
}

.box {
    border: 1px solid black;
    margin-right: 8px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.milageCounter {
    border-bottom: 1px solid black;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 60px;
}

.recap {
    padding-left: 40px !important;
}