:root {
	--neutral-2: #FAFAFA;
	--neutral-4: #F0F0F0;
	--neutral-8: #595959;
	--neutral-9: #434343;
  --primary-color: #034a58ab;
  --primary-dark: #034C58;
  --secondary-color: #061830;
  --secondary-light: #061830cc;
  --whitish: #ffffffe0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1256px;
  margin: auto;
}

.section {
  padding-left: 92px;
  padding-right: 92px;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .section {
      padding-left: 62px;
      padding-right: 62px;
  }
}

@media (max-width: 576px) {
  .section {
      padding-left: 31px;
      padding-right: 31px;
  }
}

@media (max-width: 400px) {
  .section {
      padding-left: 20px;
      padding-right: 20px;
  }
}

.default-btn {
  background: var(--secondary-color);
  color: white;
  outline: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  
  &:hover, &:active{
    background-color: var(--secondary-light) !important;
    color: white !important;
    outline: var(--secondary-light) !important;
    border: 1px solid var(--secondary-light) !important;
  }
}

.primary-btn {
  background: var(--primary-color);
  color: white;
  outline: var(--primary-color);
  border: 1px solid var(--primary-color);
  
  &:hover, &:active{
    background-color: var(--primary-dark) !important;
    color: white !important;
    outline: var(--primary-dark) !important;
    border: 1px solid var(--primary-dark) !important;
  }
}

.form-item-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-raised {
  background: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.main-text {
  color: var(--primary-color);
}